<div class="content">

			<section id="intro" style="padding-top: 1.25em;">

				<p style="margin-top: 0px;">
					<span style="opacity: 1; font-size: 1.5em; float: left;">About Me</span>
					<button id="menu_return" class="icon-menu" style="display: inline-block; opacity: 1;"><span style="opacity: 1; font-size: 1.5em; float: left;">About Me</span></button>
				</p>

			</section>

			<div id="section_portal" style="opacity: 1;"><section id="about">

	
	<p>If you're just curious about my story, or you just want to grab my résumé, you're in the right spot.</p>

	<nav id="about_nav">

		<a href="story" id="story" class="badge_link icon-news">
			<span class="ribbon">
				<span class="ribbon-stitches-top"></span>
				<strong class="ribbon-content">
					<span class="link_title">My Story</span>
				</strong>
				<span class="ribbon-stitches-bottom"></span>
			</span>
		</a>

		<a href="https://josephpayton.com/resume/joe-payton-resume-1-2014.pdf" id="resume" class="badge_link icon-note newWindow">
			<span class="ribbon">
				<span class="ribbon-stitches-top"></span>
				<strong class="ribbon-content">
					<span class="link_title">My Résumé</span>
				</strong>
				<span class="ribbon-stitches-bottom"></span>
			</span>
		</a>

	</nav>

</section></div>

		</div>
